*.onnx filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
phi3-mini-4k-instruct-cpu-int4-rtn-block-32-acc-level-
[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]4.onnx filter=lfs diff=lfs merge=lfs -text
phi3-mini-4k-instruct-cpu-int4-rtn-block-32-acc-level-4.onnx filter=lfs diff=lfs merge=lfs -text
phi3-mini-4k-instruct-cpu-int4-rtn-block-32-acc-level-4.onnx.data filter=lfs diff=lfs merge=lfs -text
